# <%= "domain: #{@router.domain}" %>

upstream <%= @router.domain %>.router {
    server <%= @router.url %>:<%= @router.rancher_port %>;
}

server {
    server_name <%= @router.domain %>;
    listen <%= @router.nginx_port %> ssl;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;  # don’t use SSLv3 ref: POODLE
    ssl_certificate <%= @router.ssl_certificate %>;
    ssl_certificate_key <%= @router.ssl_certificate_key %>;

    error_log /var/log/nginx/error.https.<%= @router.domain %>.log;
    access_log /var/log/nginx/access.https.<%= @router.domain %>.log;

    # First attempt to serve request as a file
    # then fall back to application
    try_files $uri @<%= @router.domain -%>.router;

    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
    }

    #location @<%= @router.domain -%>.router {
    location / {
        if (-f /app/public/system/maintenance.html) { return 503; }

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        # This allows the ability for the execute shell window to remain open for up to 15 minutes. Without this parameter, the default is 1 minute and will automatically close.
        proxy_read_timeout 900s;

        proxy_pass http://<%= @router.domain %>.router;
    }

    client_max_body_size 20M; # increase for large files

    # deny access to .* files
    location ~ /((?!search)/\.\w+) {
        deny all;
    }
}
